{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1 class="fw-bolder">Курсы</h1>

    <div class="container">
        <div class="row gx-5">
            {% for course in courses %}
                <div class="col-md-6">
                    <div class="card p-2 m-2">
                        <div class="card-body">
                            <h4>{{ course.title }}</h4>
                            <p>{{ course.description }}</p>

                            {% set transaction = transactions[course.code] ?? null %}

                            {% if transaction %}
                                {% if transaction.type == 'payment' %}
									<p>Оплачено</p>
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Продолжить обучение</a>
								{% elseif transaction.type == 'rent' %}
									{% if transaction.expires_at is defined %}
										<p>Аренда до:
											{{ transaction.expires_at|date('d-m-Y') }}</p>
									{% else %}
										<p>Арендовано, нет срока аренды</p>
									{% endif %}
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Продолжить обучение</a>
								{% endif %}
                            {% else %}
                                {% if course.type == 1 %}
									<p>Цена покупки:
										{{ course.price }}
										руб.</p>
									<form action="{{ path('app_course_pay', {'code': course.code}) }}" method="post" class="purchase-form">
										<input type="hidden" name="token" value="{{ userToken }}">
										<button type="submit" class="btn btn-success buy-course">Купить курс</button>
									</form>
                                    <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary watch mt-2">Посмотреть содержимое курса</a>
								{% elseif course.type == 2 %}
									<p>Цена аренды на месяц:
										{{ course.price }}
										руб.</p>
									<form action="{{ path('app_course_rent', {'code': course.code}) }}" method="post" class="rent-form">
										<input type="hidden" name="token" value="{{ userToken }}">
										<button type="submit" class="btn btn-info rent-course">Арендовать</button>
									</form>
                                    <a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary mt-2">Посмотреть содержимое курса</a>
								{% else %}
									<a href="{{ path('app_course_show', {'code': course.code}) }}" class="btn btn-primary">Бесплатный доступ</a>
								{% endif %}
							{% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p>Курсы отсутствуют</p>
                </div>        
            {% endfor %}
        </div>
    </div>
    <hr>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-primary" href="{{ path('app_course_new') }}">Создать новый курс</a>
    {% endif %}

    <script>
		document.addEventListener('DOMContentLoaded', function () {
            const purchaseForms = document.querySelectorAll('.purchase-form');
            const rentForms = document.querySelectorAll('.rent-form');

            purchaseForms.forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!confirm('Подтверждаете ли вы покупку курса?')) {
                        event.preventDefault();
                    }
                });
            });

            rentForms.forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!confirm('Подтверждаете ли вы оплату аренды курса на месяц?')) {
                        event.preventDefault();
                    }
                });
            });
        });
	</script>
{% endblock %}
