{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1 class="fw-bolder">Курсы</h1>

    <div class="container">
        <div class="row gx-5">
            {% for course in courses %}
                <div class="col-md-6">
                    <div class="card p-2 m-2">
                        <div class="card-body">
                            {% for courseInf in courseInfo %}
                                {% if course.code == courseInf.code %}
                                    <h4>{{ course.name }}</h4>
                                    {% if courseInf.price == 0 %}
                                        <p>Начать бесплатно</p>
                                    {% else %}
                                        <p>Цена: {{ courseInf.price }}</p>
                                    {% endif %}
                                    <p>{{ course.description }}</p>
                                    {% if userInfo is empty %}
                                        <a class="btn btn-primary" 
                                        href="{{ path('app_course_show', {'id': course.id}) }}"
                                        >
                                            Посмотреть
                                        </a>
                                    {% else %}
                                        {% if courseInf.price == 0 %}
                                            <a class="btn btn-primary" 
                                            href="{{ path('app_course_show', {'id': course.id}) }}"
                                            >
                                                Пройти
                                            </a>
                                        {% else %}
                                            <a class="btn btn-primary" 
                                            href="{{ path('app_course_show', {'id': course.id}) }}"
                                            >
                                                Посмотреть
                                            </a>
                                            {% if courseInf.type == 'buy' %}
                                                <a class="btn btn-success" 
                                                href="{{ path('pay_course', {'code': course.code}) }}"
                                                >
                                                    Купить
                                                </a>
                                            {% endif %}
                                            {% if courseInf.type == 'rent' %}
                                                <a class="btn btn-success" 
                                                href="{{ path('app_course_show', {'id': course.id}) }}"
                                                >
                                                    Арендовать на месяц
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p>Курсы отсутствуют</p>
                </div>        
            {% endfor %}
        </div>
    </div>
    <hr>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-primary" href="{{ path('app_course_new') }}">Создать новый курс</a>
    {% endif %}
{% endblock %}
