{% extends 'base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <p>{{ course.description }}</p>
    
    <h3>Уроки</h3>

    <ol>
        {% for lesson in course.lessons|sort((a, b) => a.number <=> b.number) %}
            <li>
                <a style="text-decoration: none" href="{{ path('app_lesson_show', { 'id' : lesson.id }) }}">
                    {{ lesson.name }}
                </a>
            </li>
        {% endfor %}
    </ol>

    <hr>

    <a class="btn btn-outline-secondary" href="{{ path('app_course_index') }}">К списку курсов</a>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-outline-secondary" href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>

        <a class="btn btn-outline-secondary" href="{{ path('app_lesson_new', {'id': course.id}) }}">Добавить урок</a>
    
        {{ include('course/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
