{% extends 'base.html.twig' %}

{% block title %}{{lesson.name}}{% endblock %}

{% block body %}
    <h1>{{lesson.name}}</h1>

    <h5>
        Курс 
		<a style="text-decoration: none" href="{{ path('app_course_show', { 'code': lesson.course.code }) }}">{{ lesson.course.title }}</a>
	</h5>

    {{ include('lesson/_form.html.twig', {'button_label': 'Сохранить'}) }}

    <hr>

    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
