{% extends 'base.html.twig' %}

{% block title %}{{ lesson.course.title }}{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>

    <h5>
        Курс 
		<a style="text-decoration: none" href="{{ path('app_course_show', { 'code': lesson.course.code }) }}">{{ lesson.course.title }}</a>
	</h5>
    
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="mt-3" style="display: flex">
            <a class="btn btn-outline-secondary" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать</a>

            {{ include('lesson/_delete_form.html.twig') }}
        </div>
    {% endif %}

    <div class="border mt-3 p-4 rounded-2">
        <p>{{ lesson.content }}</p>
    </div>
    
{% endblock %}
